<!-- <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div>
      <label for="mobile">Mobile Number:</label>
      <input type="tel" id="mobile" name="mobile" ngModel required pattern="[0-9]{10}">
    </div>
    <button type="button" (click)="requestOTP()" [disabled]="!loginForm.controls['mobile'].valid">Request OTP</button>
  
    <div *ngIf="otpRequested">
      <label for="otp">Enter OTP:</label>
      <input type="text" id="otp" name="otp" ngModel required pattern="[0-9]{6}">
    </div>
    <button type="submit" [disabled]="!otpRequested || !loginForm.valid">Login</button>
  </form>
   -->