.icon-home {
    background: url('/icons/home.svg') no-repeat center;
    background-size: contain;
  }
  .icon-home-active {
    background: url('/icons/home-active.svg') no-repeat center;
    background-size: contain;
  }
  
  .icon-accounts {
    background: url('/icons/user_menu_male.svg') no-repeat center;
    background-size: contain;
  }
  .icon-accounts-active {
    background: url('/icons/user_menu_male-active.svg') no-repeat center;
    background-size: contain;
  }
  
  .icon-orders {
    background: url('/icons/order_history.svg') no-repeat center;
    background-size: contain;
  }
  .icon-orders-active {
    background: url('/icons/order_history-active.svg') no-repeat center;
    background-size: contain;
  }
  
  .icon-categories {
    background: url('/icons/small_icons.svg') no-repeat center;
    background-size: contain;
  }
  .icon-categories-active {
    background: url('/icons/categories-active.svg') no-repeat center;
    background-size: contain;
  }
  